<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="java" class="com.rahul.beans.JavaCourse" />
	<bean id="python" class="com.rahul.beans.PythonCourse" />
	<bean id="sql" class="com.rahul.beans.SQLCourse" />
	<bean id="course" class="com.rahul.beans.CourseSelection">
		<property name="courses" ref="java" />
	</bean>
</beans>